/* style.css */
:root {
  --main-color: #017143;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

p {
  line-height: 1.6;
}

#main-header {
  width: auto;
  height: 200px;
  background: #ccc;
  position: relative;
}
#main-header h1 {
  position: absolute;
  left: 100px;
  top: 30px;
}
#gnb {
  position: absolute;
  right: 100px;
  top: 80px;
}
#gnb > ul > li {
  display: inline-block;
  margin-left: 3em;
}
#gnb > ul > li > a {
  text-decoration: none;
  color: #444;
  text-transform: capitalize;
  font-weight: 600;
}

#title .title-group {
  outline: 1px solid red;
  width: 50%;
  height: calc(100vh - 200px);
  float: left;
  padding-left: 100px;
  padding-top: 50px;
}
#title .title-group h2 {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 10px;
}
#title .title-group h2 > span {
  font-weight: 800;
  color: var(--main-color);
}

#title figure {
  width: 50%;
  outline: 1px solid red;
  float: left;
  text-align: center;
  height: calc(100vh - 200px);
}

.more-btn {
  background: var(--main-color);
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 20px;
  margin-top: 1em;
}